<!-- <div [ngSwitch]="role">
  <p *ngSwitchCase="'admin'">Welcome Admin</p>
  <p *ngSwitchCase="'user'">Welcome User</p>
  <p *ngSwitchDefault>Unknown Role</p>
</div>


<p [ngStyle]="{ 'color': isOnline ? 'green' : 'gray' }">User Status</p>


@if (a > b) {
  <p>{{a}} is greater than {{b}}</p>
}@else {
  <p>{{a}} is not greater than {{b}}</p>
}

@for (item of items; track item.id) {
  <li>{{ item.name }}</li>
}

 -->
<!-- <app-profile-card></app-profile-card>


 <app-counter></app-counter> -->

<app-product-list></app-product-list> 

<router-outlet></router-outlet>